:root{
    --primario: #1f242d;
    --primarioOscuro: #262c33;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287,2);
    --blanco: #fff;
    --negro: #000;
    /*fuente principal es la tipografia que se usa para la pagina*/
    --fuenteprincipal: 'Staatliches', cursive;
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
}

 *,*:before, *:after{
    box-sizing: inherit;
 }

/*GLOBALES DE LA PAGINA WEB*/

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;

}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuenteprincipal);
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem ;
}
h3{
    font-size: 2.4rem;
}
.header{
    display: flex;
    justify-content: center;

}
.header__logo{
    margin: 3rem 0;
    border-radius: 1rem;
}
/*Footer*/
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto{
    font-family: var(--fuenteprincipal);
    text-align: center;
}
/*nav*/
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /*gap: 2rem;  Separacion forma nueva, no lo soporta algunos exploradores porque es nuevo */

}
.navegacion__enlace{
    font-family: var(--fuenteprincipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;
}
.navegacion__enlace:last-of-type{
     margin-right: 0;
}
/*'--activo'es un modificador*/
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/*Grid*/
/*EL GRID TE AYUDARA ORGANIZAR LOS PRODUCTOS DE UNA TIENDA VIRTUAL*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px){
    .grid {
       grid-template-columns: repeat(3, 1fr); 
    }

}
/* EL DISENO DE LOS PRODUCTOS DE LA PAGINA  */
.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;

}

.producto__informacion{


}
.producto__imagen:hover{
    cursor: pointer;

}
.producto__nombre{
    font-size: 4rem;

}
.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio{
    font-family: var(--fuenteprincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2; /* INTERLINEADO*//

}
/*ficos*/

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat; /*funciona para que la imagen de background no se repita*/
    background-size: cover; /*esto funciona para que la imagen ocupe el espacio restante el grid*/
    grid-column: 1 /3;


}
.grafico--camisas{
    grid-row: 2 /3;
    background-image: url(../img/img/grafico1.jpg);
}
.grafico--node{
    background-image: url(../img/img/grafico2.jpg);
    grid-row: 8/9;
}
@media (min-width: 768px){
    .grafico--node{
        grid-row: 5 /6;
        grid-column: 2 /4;
    }
}

/*NOSOTROS-DISENO*/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width:768px){
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        
    }

}

.nosotros__contenido{

}
.nosotros__imagen{
    grid-row: 1 / 2;
    
}
@media (min-width:768px){
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}


/*BLOQUES*/

.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}


@media (min-width:768px){
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }
    
}
.bloque{
    text-align: center;

}

.bloque__titulo{
    margin: 0;
}

/*INFORMACION DE LOS PRODUCTOS*/

.suits__contenido{
    display: none;
 
}

.suits__contenido.active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    max-width: 90%; /* Cambiado de width a max-width */
    top: 50%; /* Centrar verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5c7382;
    width: 500px;
    border-radius: 3rem;
    z-index: 2;
}
/* Agregado para hacerlo responsive en dispositivos móviles */
@media screen and (max-width: 600px) {
    .suits__contenido.active {
        width: 90%; /* Ajustar el ancho en pantallas pequeñas */
    }
}

.remove {
    position: absolute;
    top: 20px;
    right: 25px;
    background-color: rgba(214, 66, 66, 0.80);
    padding: 0.3rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    transition: 0.3s ease;
    font-weight: bold;
}

.remove:hover {
    cursor: pointer;
    background-color: rgba(233, 16, 16, 0.942);
}




@media (min-width:768px) {
    .camisas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;

    }
    
}
.formulario {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.formulario__campo {
    border-color: var(--secundario);
    border-width: 1rem;
    border-style: solid;
    background-color: transparent;
    color: black;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
    /* Añade la siguiente propiedad para que los elementos estén uno debajo del otro */
    margin-bottom: 1rem;
}
.formulario__campo::placeholder {
    color: black; /* Color del placeholder */
    opacity: 1; /* Ajusta la opacidad según sea necesario */
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuenteprincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    border-radius: 1rem;
    margin-bottom: 2rem;
    
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

.loader-wrapper {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primario);
    display: flex;
    justify-content: center;
    align-items: center;
    color var(--secundario);
    font-size: 24px;
    opacity: 0;
    animation: fadeIn 0s ease-out forwards;
  }
  
  .loader-wrapper h1 {
    margin: 0;
    transform: translateY(20px);
    opacity: 0;
    animation: slideInText 1s forwards 1s;
  }
  
  .loader-wrapper h1 span {
    font-size: 50px;
    display: inline-block;
    transform: scale(0);
    animation: scaleIn 0.5s forwards 2s;
  }
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  @keyframes slideInText {
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  